/* Navbar styling using Tailwind CSS */

/* Navbar container styling */
.navbar {
  @apply flex items-center justify-between; /* Flex container with space-between alignment */

  /* Logo section styling */
  .logoWrapper {
    @apply flex items-center justify-center space-x-4; /* Flex container with center alignment and spacing */

    /* Logo styling */
    .logo {
      @apply text-lg font-bold sm:text-xl lg:text-2xl; /* Text size and font weight */
      color: theme("colors.primary.grey"); /* Text color using theme color */
    }
  }

  /* Desktop navigation links styling */
  .navlinksWrapper {
    @apply hidden sm:flex items-center space-x-6; /* Hide on small screens, flex container with spacing */

    /* Navigation links list styling */
    .navlinksList {
      @apply flex space-x-6; /* Flex container with spacing */

      /* Individual navigation link styling */
      .navLink {
        @apply px-3 py-3 rounded-md transition-all duration-300 active:scale-90; /* Padding, rounded corners, and transition */
        color: theme("colors.primary.grey"); /* Text color using theme color */

        /* Hover effect */
        &:hover {
          @apply cursor-pointer; /* Change cursor on hover */
          background: theme(
            "colors.primary.grey_light"
          ); /* Background color on hover using theme color */
        }
      }
    }
  }

  /* Mobile navigation icon styling */
  .navIcon {
    @apply sm:hidden border px-2 py-1 rounded-md; /* Hide on small screens, border and padding */
    border-color: theme("colors.outline"); /* Border color using theme color */

    /* Hover effect */
    &:hover {
      @apply cursor-pointer; /* Change cursor on hover */
      background: theme(
        "colors.primary.grey_light"
      ); /* Background color on hover using theme color */
    }
  }

  /* Backdrop for the mobile navigation menu styling */
  .backDrop {
    @apply fixed top-[4.7rem] inset-0 bg-opacity-50 bg-primary-grey -z-10; /* Fixed position, background styling */
  }

  /* Mobile navigation menu styling */
  .mobileNavList {
    @apply pt-8; /* Padding-top equivalent to pt-8 */

    /* Individual mobile navigation link styling */
    .mobileNavLink {
      @apply py-4 ml-2 w-[92%] rounded-md cursor-pointer pl-[2rem] pr-[8rem] hover:bg-white active:scale-95; /* Padding, margins, width, cursor, and transition */
    }
  }
}
