/* Navbar styling using Tailwind CSS */

/* Navbar container styling */
.navbar {
  @apply flex items-center justify-between;

  /* Logo section styling */
  .logoWrapper {
    @apply flex items-center justify-center space-x-4;

    /* Logo styling */
    .logo {
      @apply text-lg font-bold sm:text-xl lg:text-2xl;
      color: theme("colors.primary.grey");
    }
  }

  /* Desktop navigation links styling */
  .navlinksWrapper {
    @apply hidden sm:flex items-center space-x-6;

    /* Navigation links list styling */
    .navlinksList {
      @apply flex space-x-6;
      /* Individual navigation link styling */
      .navLink {
        @apply px-3 py-3 rounded-md transition-all duration-300 active:scale-90;
        color: theme("colors.primary.grey");

        /* Hover effect */
        &:hover {
          @apply cursor-pointer;
          background: theme("colors.primary.grey_light");
        }
      }
    }
  }

  /* Mobile navigation icon styling */
  .navIcon {
    @apply sm:hidden border px-2 py-1 rounded-md;
    border-color: theme("colors.outline");
    /* Hover effect */
    &:hover {
      @apply cursor-pointer;
      background: theme("colors.primary.grey_light");
    }
  }

  /* Backdrop for the mobile navigation menu styling */
  .backDrop {
    @apply fixed top-[4.7rem] inset-0 bg-opacity-60 bg-primary-grey z-10 sm:hidden;
  }

  /* Mobile navigation menu styling */
  .mobileNavList {
    @apply pt-8;

    /* Individual mobile navigation link styling */
    .mobileNavLink {
      @apply py-3 ml-2 w-[92%] mb-1 rounded-md cursor-pointer pl-[2rem] pr-[8rem] hover:bg-primary-grey_light active:scale-95;
    }
  }
}
